<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bookclub | About Us</title>

    <!--  Bootstrap StyleSheet CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>

<div class="container py-5" style="width: 50%;">

    <div class="row">

        <div class="col-12">
            <h1 class="text-center">Welcome to the about page.</h1>
        </div>
    </div>

    <br /><br />
    <div class="row">
        <div class="col-4">
            <img th:src="@{/images/about.jpg}" width="300" height="300" />
        </div>

        <div class="col-8">
            <p>
                                Welcome to our Book Club! We are a group of passionate readers who meet regularly to discuss a wide variety of books, from contemporary bestsellers to timeless classics. 
                                Our meetings provide a welcoming space for lively discussions, thoughtful debates, and shared insights.

            </p>

            <p>
                               Our Book Club was founded with the goal of fostering a love for reading and creating a community of like-minded individuals.
                                Whether you are an avid reader or just starting to explore the world of books, you will find a place here.
                                 We believe that every book offers a new perspective and every discussion brings a deeper understanding.   
                                 In addition to our regular meetings, we organize special events such as author talks, book swaps, and literary outings. Our members enjoy the opportunity to expand their horizons, discover new authors, and make lasting friendships. We are more than just a book club; we are a community united by our shared passion for reading.
                                 
            </p>
        </div>
    </div>
</div>

<div th:insert="~{fragments/scriptFooter :: scriptFooter}"></div>
</body>
</html>